Repository dustessavdh/hergetto, changes with the labels that .github/labeler.yml gives for each.
All labels: test, database, frontend, styling, components, workflow

.github/labeler.yml:

test:
  - test/*
  - test/**/*

database:
  - priv/repo/*
  - priv/repo/**/*
  - lib/hergetto/models/*
  - lib/hergetto/moddels/**/*

frontend:
  - lib/hergetto_web/templates/**/*
  - assets/*
  - assets/**/*
  - lib/**/*.sface
  - lib/**/*.heex

styling:
  - assets/css/*
  - assets/static/*.ico
  - assets/static/images/*
  - lib/hergetto_web/components/**/*.scss

components:
  - lib/hergetto_web/components/*

workflow:
  - .github/workflows/*

Initializing Swimm
  .swm/swimm.json
Labels: none

docs(swimm): create document Test
  .swm/test.0zhxq.sw.md
Labels: none

Moved assets to correct folder
  assets/static/assets/icons/android-chrome-192x192.png
  assets/static/assets/icons/android-chrome-512x512.png
  assets/static/assets/icons/apple-touch-icon.png
  assets/static/assets/icons/favicon-16x16.png
  assets/static/assets/icons/favicon-32x32.png
  assets/static/assets/icons/paused-android-chrome-192x192.png
  assets/static/assets/icons/paused-android-chrome-512x512.png
  assets/static/assets/icons/paused-apple-touch-icon.png
  assets/static/assets/icons/paused-favicon-16x16.png
  assets/static/assets/icons/paused-favicon-32x32.png
  assets/static/assets/icons/playing-android-chrome-192x192.png
  assets/static/assets/icons/playing-android-chrome-512x512.png
  assets/static/assets/icons/playing-apple-touch-icon.png
  assets/static/assets/icons/playing-favicon-16x16.png
  assets/static/assets/icons/playing-favicon-32x32.png
  assets/static/assets/images/Logo.png
  assets/static/assets/images/hergetto.png
  assets/static/assets/images/hergetto_color.png
  assets/static/assets/images/icons/icon-192x192.png
  assets/static/assets/images/icons/icon-256x256.png
  assets/static/assets/images/icons/icon-384x384.png
  assets/static/assets/images/icons/icon-512x512.png
  assets/static/assets/images/loading.webm
  assets/static/assets/images/oembed.png
  assets/static/assets/images/oembed_logo.png
  assets/static/assets/images/phoenix.png
  assets/static/assets/logo/logo - paused.svg
  assets/static/assets/logo/logo - playing.svg
  assets/static/assets/logo/logo.svg
  assets/static/assets/logo/logo_1.svg
  assets/static/logo/logo.svg
  config/dev.exs
  lib/hergetto_web/live/page_live.ex
Labels: frontend

Updated styling of login page
  assets/css/phoenix.scss
  assets/css/setup/common.scss
  assets/css/setup/scrollbar.scss
  assets/css/setup/setup.scss
  assets/static/assets/icons/google_g_logo.svg
  assets/static/assets/logo/logo-empty.svg
  assets/static/assets/logo/logo-paused.svg
  assets/static/assets/logo/logo-playing.svg
  lib/hergetto_web/components/_index.scss
  lib/hergetto_web/components/logo_icon/logo_icon.ex
  lib/hergetto_web/components/logo_icon/logo_icon.scss
  lib/hergetto_web/components/logo_icon/logo_icon.sface
  lib/hergetto_web/components/navbar/navbar.sface
  lib/hergetto_web/live/login_live.ex
  lib/hergetto_web/live/login_live.sface
  lib/hergetto_web/live/page_live.ex
  lib/hergetto_web/live/page_live.sface
Labels: frontend, styling, components

fixed small issues
  assets/css/setup/common.scss
  lib/hergetto_web/components/logo_icon/logo_icon.scss
  lib/hergetto_web/live/login_live.sface
Labels: frontend, styling

Updated configs
  config/config.exs
  config/prod.exs
Labels: none

Added examples and playground for logo icon
  lib/hergetto_web/components/logo_icon/logo_icon.scss
  lib/hergetto_web/components/logo_icon/logo_icon.sface
  priv/catalogue/hergetto_web/logo_icon/example01.ex
  priv/catalogue/hergetto_web/logo_icon/example02.ex
  priv/catalogue/hergetto_web/logo_icon/example03.ex
  priv/catalogue/hergetto_web/logo_icon/example04.ex
  priv/catalogue/hergetto_web/logo_icon/playground.ex
  priv/catalogue/hergetto_web/navbar/playground.ex
Labels: frontend, styling

Updated packages
  assets/package-lock.json
  assets/package.json
Labels: frontend

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Added quantum and example cronjob
  config/config.exs
  lib/hergetto/application.ex
  lib/hergetto/scheduler/greetings.ex
  lib/hergetto/scheduler/scheduler.ex
  mix.exs
  mix.lock
Labels: none

Update README.md
  README.md
Labels: none

Fixed dependabot.yml
  .github/dependabot.yml
Labels: none

Update mix.exs
  mix.exs
Labels: none

fix typo
  assets/css/app.scss
  assets/webpack.config.js
Labels: frontend, styling

Fixed fonts
  assets/css/app.scss
  assets/js/app.js
Labels: frontend, styling

Update mix.exs
  mix.exs
Labels: none

Update mix.exs
  mix.exs
Labels: none

Update mix.exs
  mix.exs
Labels: none

Update mix.exs
  mix.exs
Labels: none

add missing versions to package-lock
  assets/package-lock.json
Labels: frontend

return phoenix versions
  assets/package-lock.json
Labels: frontend

return phoenix versions
  assets/package-lock.json
Labels: frontend

Fixed workflows by changing on trigger
  .github/workflows/label.yml
  .github/workflows/sonarqube.yml
Labels: workflow

return phoenix versions
  assets/package-lock.json
Labels: frontend

fix broken fonts
  assets/css/app.scss
  assets/js/app.js
  assets/webpack.config.js
Labels: frontend, styling

return phoenix versions and fix broken HardSourceWebpackPlugin
  assets/package-lock.json
  assets/webpack.config.js
Labels: frontend

return phoenix versions
  assets/package-lock.json
Labels: frontend

removed one path from live_reloading
  config/dev.exs
Labels: none

[ImgBot] Optimize images
  assets/static/assets/icons/android-chrome-192x192.png
  assets/static/assets/icons/android-chrome-512x512.png
  assets/static/assets/icons/apple-touch-icon.png
  assets/static/assets/icons/favicon-32x32.png
  assets/static/assets/icons/paused-android-chrome-192x192.png
  assets/static/assets/icons/paused-android-chrome-512x512.png
  assets/static/assets/icons/paused-apple-touch-icon.png
  assets/static/assets/icons/paused-favicon-32x32.png
  assets/static/assets/icons/playing-android-chrome-192x192.png
  assets/static/assets/icons/playing-android-chrome-512x512.png
  assets/static/assets/icons/playing-apple-touch-icon.png
  assets/static/assets/icons/playing-favicon-32x32.png
  assets/static/assets/images/Logo.png
  assets/static/assets/images/hergetto.png
  assets/static/assets/images/icons/icon-512x512.png
  assets/static/assets/images/oembed_logo.png
  assets/static/assets/images/phoenix.png
  assets/static/assets/logo/logo-empty.svg
  assets/static/assets/logo/logo-paused.svg
  assets/static/assets/logo/logo-playing.svg
  assets/static/assets/logo/logo.svg
  assets/static/assets/logo/logo_1.svg
Labels: frontend

added betteruptime
  README.md
Labels: none

added seo improvments
  assets/static/manifest.json
  assets/static/robots.txt
  assets/static/sitemap.xml
  config/config.exs
  lib/hergetto_web/endpoint.ex
  lib/hergetto_web/templates/error/404.html.heex
  lib/hergetto_web/templates/layout/root.html.heex
Labels: frontend

moved meta tags to it's own module and config
  config/config.exs
  config/meta_tags.exs
  lib/hergetto_web/helpers/meta_tags.ex
  lib/hergetto_web/views/layout_view.ex
Labels: none

added live_meta_title_tag
  lib/hergetto_web/helpers/meta_tags.ex
  lib/hergetto_web/live/login_live.ex
  lib/hergetto_web/templates/layout/root.html.heex
Labels: frontend

fixed static_path for images
  lib/hergetto_web/components/logo_icon/logo_icon.ex
  lib/hergetto_web/components/logo_icon/logo_icon.sface
  lib/hergetto_web/components/navbar/navbar.ex
  lib/hergetto_web/components/navbar/navbar.sface
Labels: frontend

fixed fonts not working in prod
  assets/webpack.config.js
Labels: frontend

added cookie consent button
  assets/css/app.scss
  assets/css/setup/setup.scss
  assets/js/app.js
  assets/js/cookies.js
  assets/package-lock.json
  assets/package.json
  assets/webpack.config.js
  lib/hergetto_web/live/page_live.sface
Labels: frontend, styling

fixed css import and bootstrap import
  assets/js/app.js
  assets/js/cookies.js
Labels: frontend

fixed styling for 404 page
  lib/hergetto_web/components/logo_icon/logo_icon.scss
  lib/hergetto_web/components/logo_icon/logo_icon.sface
  lib/hergetto_web/live/login_live.sface
  lib/hergetto_web/live/page_live.ex
  lib/hergetto_web/templates/error/404.html.heex
  lib/hergetto_web/views/error_view.ex
Labels: frontend, styling

changed assets
  assets/static/manifest.json
  lib/hergetto_web/templates/layout/root.html.heex
Labels: frontend

removed logger from configs and changed meta tags
  config/config.exs
  config/meta_tags.exs
  lib/hergetto_web/live/page_live.ex
Labels: none
