Repository dustessavdh/hergetto, changes with the labels that .github/labeler.yml gives for each.
All labels: test, database, frontend, styling, components, workflow

Fix dialyzer cache
  .github/workflows/elixir.yml
Labels: workflow

Update livedashboard version in mix.exs
  .github/workflows/elixir.yml
  mix.exs
Labels: workflow

Add delay to topbar to increase perceived page speed
  assets/js/app.js
Labels: frontend

fix formatting
  config/config.exs
  config/dev.exs
  lib/hergetto_web/helpers/google_analytics.ex
Labels: none

Fix credo warning
  lib/hergetto_web/helpers/google_analytics.ex
Labels: none

fix dialyzer error
  lib/hergetto_web/helpers/google_analytics.ex
Labels: none

Add phoenix presence with user presence
  lib/hergetto/application.ex
  lib/hergetto_web/channels/presence.ex
Labels: none

Add example implementation
  lib/hergetto_web/live/rooms/rooms_live.ex
  lib/hergetto_web/live/rooms/rooms_live.sface
  lib/hergetto_web/router.ex
Labels: frontend

update coverals settings
  coveralls.json
Labels: none

fix format
  lib/hergetto_web/channels/presence.ex
  lib/hergetto_web/live/rooms/rooms_live.ex
Labels: none

[ImgBot] Optimize images
  assets/static/assets/avatars/default.png
  assets/static/assets/avatars/default.svg
Labels: frontend

change upper case to lower case
  lib/hergetto_web/live/rooms/rooms_live.ex
Labels: none

Move content security policy to headers
  config/meta_tags.exs
  lib/hergetto_web/plugs/content_security_policy.ex
  lib/hergetto_web/router.ex
Labels: none

Add measures to prevent PII data to be logged
  config/config.exs
  lib/hergetto/accounts/user.ex
Labels: none

Fix credo warning
  lib/hergetto_web/plugs/content_security_policy.ex
Labels: none

Add ability to create a room
  lib/hergetto_web/controllers/rooms_controller.ex
  lib/hergetto_web/live/rooms/rooms_live.sface
  lib/hergetto_web/live/rooms/watch_live.ex
  lib/hergetto_web/live/rooms/watch_live.sface
  lib/hergetto_web/router.ex
  lib/hergetto_web/templates/layout/root.sface
Labels: frontend

Fix issue with the rooms manager
  lib/hergetto/chats/chats.ex
  lib/hergetto/rooms/room_service.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/videos/videos.ex
Labels: none

Added unmount function
  lib/hergetto/application.ex
  lib/hergetto_web/channels/presence.ex
  lib/hergetto_web/live/live_monitor.ex
  lib/hergetto_web/live/rooms/watch_live.ex
Labels: none

Revert commits pushed to wrong branch
  lib/hergetto/application.ex
  lib/hergetto/chats/chats.ex
  lib/hergetto/rooms/room_service.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/videos/videos.ex
  lib/hergetto_web/channels/presence.ex
  lib/hergetto_web/controllers/rooms_controller.ex
  lib/hergetto_web/live/live_monitor.ex
  lib/hergetto_web/live/rooms/rooms_live.sface
  lib/hergetto_web/live/rooms/watch_live.ex
  lib/hergetto_web/live/rooms/watch_live.sface
  lib/hergetto_web/router.ex
  lib/hergetto_web/templates/layout/root.sface
Labels: frontend

Add commits to correct branch
  lib/hergetto/application.ex
  lib/hergetto/chats/chats.ex
  lib/hergetto/rooms/room_service.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/videos/videos.ex
  lib/hergetto_web/channels/presence.ex
  lib/hergetto_web/controllers/rooms_controller.ex
  lib/hergetto_web/live/live_monitor.ex
  lib/hergetto_web/live/rooms/rooms_live.sface
  lib/hergetto_web/live/rooms/watch_live.ex
  lib/hergetto_web/live/rooms/watch_live.sface
  lib/hergetto_web/router.ex
  lib/hergetto_web/templates/layout/root.sface
Labels: frontend

Update mix.exs
  mix.exs
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update references
  .github/dependabot.yml
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  mix.exs
Labels: none

Update references
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  lib/hergetto_web/templates/layout/root.html.leex
  lib/hergetto_web/templates/video_live/video_live.html.leex
  mix.exs
Labels: frontend

.github/labeler.yml:

test:
  - test/*
  - test/**/*

database:
  - priv/repo/*
  - priv/repo/**/*
  - lib/hergetto/models/*
  - lib/hergetto/moddels/**/*

frontend:
  - lib/hergetto_web/templates/**/*
  - assets/*
  - assets/**/*
  - lib/**/*.sface
  - lib/**/*.heex

styling:
  - assets/css/*
  - assets/static/*.ico
  - assets/static/images/*
  - lib/hergetto_web/components/**/*.scss

components:
  - lib/hergetto_web/components/*

workflow:
  - .github/workflows/*
