Repository dustessavdh/hergetto, changes with the labels that .github/labeler.yml gives for each.
All labels: test, database, frontend, styling, components, workflow

fixed braking tests
  test/hergetto_web/helpers/meta_tags_test.exs
  test/hergetto_web/live/page_live_test.exs
  test/hergetto_web/views/layout_view_test.exs
Labels: test

Added Logger
  config/config.exs
Labels: none

removed WET code and fixed broken link
  lib/hergetto_web/templates/error/404.html.heex
  lib/hergetto_web/templates/layout/root.html.heex
  lib/hergetto_web/views/error_view.ex
Labels: frontend

bump mix.exs and package-lock versions
  assets/package-lock.json
  mix.exs
Labels: frontend

return phoenix versions
  assets/package-lock.json
Labels: frontend

return phoenix versions
  assets/package-lock.json
Labels: frontend

return phoenix versions
  assets/package-lock.json
Labels: frontend

return phoenix versions
  assets/package-lock.json
Labels: frontend

ran mix format
  config/config.exs
  config/meta_tags.exs
  config/prod.exs
  lib/hergetto/application.ex
  lib/hergetto/chats/chat_service.ex
  lib/hergetto/chats/chats.ex
  lib/hergetto/helpers/auth.helper.ex
  lib/hergetto/helpers/service_start_helper.ex
  lib/hergetto/rooms/room_service.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/users.ex
  lib/hergetto/videos/video_service.ex
  lib/hergetto/videos/videos.ex
  lib/hergetto_web.ex
  lib/hergetto_web/components/logo_icon/logo_icon.ex
  lib/hergetto_web/controllers/auth_controller.ex
  lib/hergetto_web/helpers/meta_tags.ex
  lib/hergetto_web/plugs/authentication.plug.ex
  lib/hergetto_web/router.ex
  test/hergetto_web/helpers/meta_tags_test.exs
  test/hergetto_web/live/page_live_test.exs
  test/hergetto_web/views/layout_view_test.exs
  test/support/channel_case.ex
  test/support/conn_case.ex
  test/support/data_case.ex
Labels: test

add credo
  .credo.exs
  mix.exs
  mix.lock
Labels: none

fix credo warnings
  .credo.exs
  lib/hergetto/chats/chat_supervisor.ex
  lib/hergetto/chats/chats.ex
  lib/hergetto/helpers/service_start_helper.ex
  lib/hergetto/rooms/room_supervisor.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/user.ex
  lib/hergetto/users.ex
  lib/hergetto/videos/video_supervisor.ex
  lib/hergetto/videos/videos.ex
  lib/hergetto_web/components/logo_icon/logo_icon.ex
  lib/hergetto_web/components/navbar/navbar.ex
  lib/hergetto_web/helpers/meta_tags.ex
  lib/hergetto_web/live/login_live.ex
  lib/hergetto_web/live/page_live.ex
  lib/hergetto_web/plugs/authentication.plug.ex
  lib/hergetto_web/telemetry.ex
  test/hergetto/rooms_test.exs
  test/support/channel_case.ex
  test/support/conn_case.ex
  test/support/data_case.ex
Labels: test

Add dialyzer
  .gitignore
  lib/hergetto_web/components/navbar/navbar.sface
  lib/hergetto_web/templates/layout/root.html.heex
  mix.exs
  mix.lock
  priv/plts/.gitkeep
Labels: frontend

Updated elixir workflow
  .github/workflows/elixir.yml
Labels: workflow

Added code analysis and segmented actions
  .github/workflows/elixir.yml
Labels: workflow

Adds _build directory to cache
  .github/workflows/elixir.yml
  README.md
Labels: workflow

fix code format
  lib/hergetto_web.ex
Labels: none

fix plt error
  lib/hergetto_web/components/navbar/navbar.ex
  mix.exs
Labels: none

fixed exunit error
  .github/workflows/elixir.yml
  mix.exs
Labels: workflow

Adds coverage upload
  .github/workflows/elixir.yml
Labels: workflow

Removes travis CI from pipeline
  .travis.yml
  config/test_travis.exs
Labels: none

changes coverage uploading
  .github/workflows/elixir.yml
  .gitignore
  coveralls.json
  mix.exs
Labels: workflow

pin coveralls version
  .github/workflows/elixir.yml
Labels: workflow

Changes badges
  README.md
Labels: none

Bumped to surface 0.7
  assets/webpack.config.js
  config/dev.exs
  lib/hergetto_web.ex
  lib/hergetto_web/components/demo/hero.ex
  lib/hergetto_web/components/logo_icon/logo_icon.ex
  lib/hergetto_web/components/navbar/navbar.ex
  lib/hergetto_web/live/login_live.ex
  lib/hergetto_web/live/page_live.ex
  lib/hergetto_web/templates/layout/app.html.heex
  lib/hergetto_web/templates/layout/app.sface
  lib/hergetto_web/templates/layout/live.html.heex
  lib/hergetto_web/templates/layout/live.sface
  lib/hergetto_web/templates/layout/root.sface
  lib/hergetto_web/views/layout_view.ex
  mix.exs
  mix.lock
Labels: frontend

replaces 404.html with sface syntax
  .github/workflows/elixir.yml
  lib/hergetto_web/templates/error/404.sface
  lib/hergetto_web/views/error_view.ex
  test/hergetto_web/views/layout_view_test.exs
Labels: test, frontend, workflow

Remove restore keys
  .github/workflows/elixir.yml
Labels: workflow

Revert "Remove restore keys"
  .github/workflows/elixir.yml
Labels: workflow

Updated user auth
  lib/hergetto/user.ex
  lib/hergetto/users.ex
  lib/hergetto_web/controllers/auth_controller.ex
  lib/hergetto_web/plugs/user_auth.plug.ex
  lib/hergetto_web/router.ex
  priv/repo/migrations/20211128142255_create_users.exs
Labels: database

Moves auth.helper.ex to different folder
  lib/hergetto/helpers/auth.helper.ex
  lib/hergetto_web/helpers/user_live_auth.ex
  lib/hergetto_web/live/page_live.ex
Labels: none

Changed user assign to current_user
  lib/hergetto_web.ex
  lib/hergetto_web/live/page_live.sface
  lib/hergetto_web/plugs/user_auth.plug.ex
  lib/hergetto_web/templates/layout/app.sface
  lib/hergetto_web/templates/layout/root.sface
Labels: frontend

added extra router scopes
  lib/hergetto_web/live/login_live.ex
  lib/hergetto_web/router.ex
Labels: none

Implemented guardian
  config/ueberauth.secret.exs.example
  lib/hergetto/authentication/error_handler.ex
  lib/hergetto/authentication/guardian.ex
  lib/hergetto/authentication/pipeline.ex
  lib/hergetto/users.ex
  lib/hergetto_web/controllers/auth_controller.ex
  lib/hergetto_web/live/page_live.ex
  lib/hergetto_web/router.ex
  mix.exs
  mix.lock
Labels: none

Created a prepare assigns function for live views
  lib/hergetto_web.ex
  lib/hergetto_web/helpers/live_assigns.ex
  lib/hergetto_web/live/page_live.ex
Labels: none

Updated content security policy
  config/meta_tags.exs
  lib/hergetto_web/templates/layout/root.sface
Labels: frontend

ran mix format
  config/meta_tags.exs
  lib/hergetto/authentication/error_handler.ex
  lib/hergetto/authentication/guardian.ex
  lib/hergetto/chats/chats.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/videos/videos.ex
  lib/hergetto_web.ex
  lib/hergetto_web/components/navbar/navbar.ex
  lib/hergetto_web/controllers/auth_controller.ex
  lib/hergetto_web/helpers/live_assigns.ex
  lib/hergetto_web/helpers/meta_tags.ex
  lib/hergetto_web/helpers/user_live_auth.ex
  lib/hergetto_web/router.ex
  test/support/channel_case.ex
  test/support/conn_case.ex
  test/support/data_case.ex
Labels: test

Fixed credo warnings
  lib/hergetto/authentication/error_handler.ex
  lib/hergetto/authentication/guardian.ex
  lib/hergetto/authentication/pipeline.ex
  lib/hergetto_web/helpers/live_assigns.ex
  lib/hergetto_web/helpers/meta_tags.ex
  lib/hergetto_web/helpers/user_live_auth.ex
  lib/hergetto_web/live/login_live.ex
  lib/hergetto_web/live/page_live.ex
  lib/hergetto_web/plugs/authentication.plug.ex
  lib/hergetto_web/plugs/user_auth.plug.ex
Labels: none

Fix dialyzer warning
  lib/hergetto/authentication/error_handler.ex
Labels: none

Add Figma badge
  README.md
Labels: none

Updated user schema
  config/config.exs
  lib/hergetto/accounts.ex
  lib/hergetto/accounts/user.ex
  lib/hergetto/accounts/username_generator.ex
  lib/hergetto/authentication/guardian.ex
  lib/hergetto/user.ex
  lib/hergetto/users.ex
  lib/hergetto_web/components/navbar/navbar.ex
  lib/hergetto_web/controllers/auth_controller.ex
  lib/hergetto_web/live/page_live.sface
  priv/catalogue/hergetto_web/navbar/example02.ex
  priv/repo/migrations/20220208122327_create_users.exs
  test/hergetto/accounts_test.exs
  test/support/fixtures/accounts_fixtures.ex
Labels: test, database, frontend

changed tag from interger to string
  lib/hergetto/accounts/user.ex
  priv/repo/migrations/20220208122327_create_users.exs
  test/hergetto/accounts_test.exs
  test/support/fixtures/accounts_fixtures.ex
Labels: test, database

.github/labeler.yml:

test:
  - test/*
  - test/**/*

database:
  - priv/repo/*
  - priv/repo/**/*
  - lib/hergetto/models/*
  - lib/hergetto/moddels/**/*

frontend:
  - lib/hergetto_web/templates/**/*
  - assets/*
  - assets/**/*
  - lib/**/*.sface
  - lib/**/*.heex

styling:
  - assets/css/*
  - assets/static/*.ico
  - assets/static/images/*
  - lib/hergetto_web/components/**/*.scss

components:
  - lib/hergetto_web/components/*

workflow:
  - .github/workflows/*
