Repository dustessavdh/hergetto, changes with the labels that .github/labeler.yml gives for each.
All labels: test, database, frontend, styling, components, workflow

.github/labeler.yml:

test:
  - test/*
  - test/**/*

database:
  - priv/repo/*
  - priv/repo/**/*
  - lib/hergetto/models/*
  - lib/hergetto/moddels/**/*

frontend:
  - lib/hergetto_web/templates/**/*
  - assets/*
  - assets/**/*
  - lib/**/*.sface
  - lib/**/*.heex

styling:
  - assets/css/*
  - assets/static/*.ico
  - assets/static/images/*
  - lib/hergetto_web/components/**/*.scss

components:
  - lib/hergetto_web/components/*

workflow:
  - .github/workflows/*

Updated unit tests
  lib/hergetto/accounts/username_generator.ex
  test/hergetto/accounts/username_generator_test.exs
  test/hergetto/accounts_test.exs
  test/hergetto/authentication/guardian_test.exs
  test/hergetto/chats_test.exs
  test/hergetto/rooms_test.exs
  test/hergetto/videos_test.exs
  test/hergetto_web/components/navbar_test.exs
  test/hergetto_web/helpers/meta_tags_test.exs
  test/hergetto_web/live/login_live_test.exs
  test/hergetto_web/live/page_live_test.exs
  test/hergetto_web/views/error_view_test.exs
Labels: test

Fixed format
  lib/hergetto/accounts/username_generator.ex
  lib/hergetto_web/components/navbar/navbar.ex
  test/hergetto/accounts_test.exs
  test/hergetto/videos_test.exs
  test/hergetto_web/components/navbar_test.exs
Labels: test

Added documentation
  lib/hergetto/accounts/user.ex
  lib/hergetto/accounts/username_generator.ex
Labels: none

Ran mix format
  lib/hergetto/accounts.ex
  lib/hergetto_web/helpers/live_assigns.ex
Labels: none

Fix formatting
  lib/hergetto/chats/chats.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/videos/videos.ex
  lib/hergetto_web.ex
  lib/hergetto_web/components/navbar/navbar.ex
  lib/hergetto_web/helpers/meta_tags.ex
  test/hergetto/chats_test.exs
  test/support/channel_case.ex
  test/support/conn_case.ex
  test/support/data_case.ex
Labels: test

Fix formatting
  lib/hergetto/accounts.ex
  lib/hergetto_web/helpers/live_assigns.ex
Labels: none

Fixed typo
  test/hergetto_web/live/login_live_test.exs
Labels: test

Added redirect to register
  lib/hergetto/authentication/guardian.ex
  lib/hergetto_web/components/navbar/navbar.sface
  lib/hergetto_web/controllers/auth_controller.ex
  lib/hergetto_web/live/user/login_live.ex
  lib/hergetto_web/live/user/login_live.sface
  lib/hergetto_web/router.ex
Labels: frontend

Changes uptime page
  README.md
Labels: none

docker works
  Dockerfile
  README.md
  bin/run_dev
  config/dev.exs
  docker-compose.yml
  postgres.Dockerfile
Labels: none

Implement fix for windows
  .dockerignore
  bin/run_dev
  docker-compose.yml
Labels: none

Refactored case to with
  Dockerfile
  README.md
  config/dev.exs
  docker-compose.yml
  lib/hergetto/chats/chats.ex
  lib/hergetto/helpers/service_start_helper.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/videos/videos.ex
  postgres.Dockerfile
Labels: none

Delete .dockerignore
  .dockerignore
Labels: none

Update README.md
  README.md
Labels: none

Delete run_dev
  bin/run_dev
Labels: none

Update rooms.ex
  lib/hergetto/rooms/rooms.ex
Labels: none

Update rooms.ex
  lib/hergetto/rooms/rooms.ex
Labels: none

Fixed credo
  lib/hergetto/chats/chats.ex
  lib/hergetto/videos/videos.ex
Labels: none

small fixes
  assets/css/setup/bootstrap/text.scss
  assets/js/app.js
  assets/package-lock.json
  config/dev.exs
Labels: frontend

update user table
  lib/hergetto/accounts/user.ex
  priv/repo/migrations/20220225143921_add_username_constraints.exs
  priv/repo/migrations/20220225154120_add_email_to_users.exs
  test/hergetto/accounts_test.exs
  test/support/fixtures/accounts_fixtures.ex
Labels: test, database

moved to own folder
  lib/hergetto_web/live/homepage/page_live.ex
  lib/hergetto_web/live/homepage/page_live.sface
Labels: frontend

added account page
  assets/css/app.scss
  lib/hergetto_web/live/_index.scss
  lib/hergetto_web/live/user/account.scss
  lib/hergetto_web/live/user/account_live.ex
  lib/hergetto_web/live/user/account_live.sface
Labels: frontend, styling

renamed to userhelper
  lib/hergetto/accounts/user_helper.ex
Labels: none

Changed allowed styles
  config/meta_tags.exs
Labels: none

Added profile colour to user
  lib/hergetto/accounts/user.ex
  lib/hergetto_web/live/user/login_live.sface
  lib/hergetto_web/router.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20220226164052_add_profile_colour.exs
  test/hergetto/accounts/user_helper_test.exs
  test/hergetto/accounts_test.exs
  test/support/fixtures/accounts_fixtures.ex
Labels: test, database, frontend

added default image
  assets/static/assets/avatars/default.png
  assets/static/assets/avatars/default.svg
  lib/hergetto_web/endpoint.ex
  lib/hergetto_web/helpers/live_file_upload.ex
Labels: frontend

Added missing fields
  lib/hergetto/accounts/user.ex
  lib/hergetto_web/components/navbar/navbar.ex
Labels: none

Changed authentication flow
  lib/hergetto_web/controllers/auth_controller.ex
Labels: none

added user avatar
  config/dev.exs
  lib/hergetto_web/components/_index.scss
  lib/hergetto_web/components/avatar/avatar.ex
  lib/hergetto_web/components/avatar/avatar.scss
  lib/hergetto_web/components/avatar/avatar.sface
  lib/hergetto_web/components/logo_icon/logo_icon.ex
  lib/hergetto_web/components/logo_icon/logo_icon.sface
  lib/hergetto_web/live/homepage/page_live.ex
  lib/hergetto_web/live/homepage/page_live.sface
  lib/hergetto_web/live/user/account.scss
  lib/hergetto_web/live/user/account_live.ex
  lib/hergetto_web/live/user/account_live.sface
Labels: frontend, styling, components

Update font-family
  assets/css/setup/bootstrap/bootstrap-setup.scss
  assets/css/setup/bootstrap/buttons.scss
  assets/css/setup/bootstrap/text.scss
  assets/css/setup/bootstrap/typography.scss
  lib/hergetto_web/components/navbar/navbar.sface
  lib/hergetto_web/live/user/account_live.sface
Labels: frontend

Fixed failing tests
  lib/hergetto/accounts/user.ex
Labels: none

Added unit tets
  config/ueberauth.secret.exs.example
  lib/hergetto/accounts/user.ex
  lib/hergetto_web/components/demo/hero.ex
  lib/hergetto_web/live/homepage/page_live.sface
  lib/hergetto_web/live/user/account_live.ex
  priv/catalogue/hergetto_web/hero/example01.ex
  priv/catalogue/hergetto_web/hero/example02.ex
  priv/catalogue/hergetto_web/hero/playground.ex
  test/hergetto/authentication/error_handler_test.exs
  test/hergetto_web/helpers/meta_tags_test.exs
  test/hergetto_web/live/account_live_test.exs
  test/hergetto_web/live/login_live_test.exs
  test/hergetto_web/live/page_live_test.exs
Labels: test, frontend

Ran mix format
  lib/hergetto/accounts/user.ex
  lib/hergetto/accounts/user_helper.ex
  lib/hergetto/authentication/guardian.ex
  lib/hergetto_web/controllers/auth_controller.ex
  lib/hergetto_web/helpers/live_file_upload.ex
  test/hergetto/accounts/user_helper_test.exs
  test/hergetto_web/live/account_live_test.exs
Labels: test

Added moduledocs
  lib/hergetto_web/components/avatar/avatar.ex
  lib/hergetto_web/helpers/live_file_upload.ex
Labels: none

Change dependabot frequency
  .github/dependabot.yml
Labels: none

Update mix.exs with correct versions
  assets/package-lock.json
  mix.exs
Labels: frontend

Update postgres version in mix.exs
  mix.exs
Labels: none

Added google analytics
  README.md
  assets/js/cookies.js
  config/config.exs
  config/config.secret.exs.example
  config/dev.exs
  config/meta_tags.exs
  lib/hergetto_web/helpers/google_analytics.ex
  lib/hergetto_web/templates/layout/root.sface
  lib/hergetto_web/views/layout_view.ex
Labels: frontend

Update swoosh version in mix.exs
  mix.exs
Labels: none

Update mix.lock
  mix.lock
Labels: none
